/home/.config/fisher
/home/.config/hub
/home/.config/heroku/accounts
/home/.config/karabiner/automatic_backups/
/home/.config/fish/config.fish.local
/home/.config/configstore/update-notifier-npm.json
