[user]
  name = OSA Shunsuke
  email = hhelibebcnofnenamg@gmail.com
[core]
  editor = vim
  autocrlf = input
  excludesfile = ~/.gitignore
[color]
  ui = auto
[push]
  default = simple
[credential]
  helper = osxkeychain
[alias]
  s = status
  co = checkout
  a = add .
  d = diff
  dc = diff --cached

[includeIf "gitdir:~/src/github.com/agrigate-team/"]
	path = ~/.gitconfig.agrigate
