source ~/.vimrc

""" Map leader to space ---------------------
let mapleader=" "

""" Mappings --------------------------------
map <Leader>a <Action>(Annotate)
map <Leader>o <Action>(Github.Open.In.Browser)
